build/
.cache/
.vscode/
*.o
tags
.out
tests/*/*.json
tools/jidl/samples/*.json
tools/jidl/samples/*/*.json
tests/*/*.h
tests/*/*.cpp
tests/*/*.cc
tests/*/*.c
!tests/unit/*.h
!tests/unit/*.cpp
!tests/test_features
!tests/unit/jidl/*.jidl
!tests/unit/jidl/*.js
tests/unit/jidl/*.h
tests/unit/jidl/*.cpp
tools/jidl/samples/*.h
tools/jidl/samples/*.cpp
tools/jidl/samples/*.cc
__pycache__
*swp
parselog.txt
parser_JIDL_parsetab.py
registry/*.pdat
.depend
.built
Make.dep
src/ajs_cfeatures_init.h
src/ajs_features_init.h
src/ajs_features_list.h
modules/src
modules/jidl/*.json
src/ajs_features_registry.cpp