#
# Copyright (C) 2023 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
config FEATURE_FRAMEWORK
	bool "Enable Feature Framework Manager"
	default n
  depends on NETUTILS_CJSON
  depends on INTERPRETERS_QUICKJS

if FEATURE_FRAMEWORK

config FEATURE_LOG_LEVEL
	int "Feature debug log level"
	default 1
	---help---
		0 - DEBUG
		1 - INFO
		2 - WARNING
		3 - ERROR
		4 - ALERT
		5 - OFF

config FEATURE_USE_SCHED_NOTE
	bool "Enable Feature Sched Note"
	default n

config FEATURE_FRAMEWORK_UTILS_TYPE_VALIDATE
	bool "Enable utils type validate"
	default n

config FEATURE_USE_WAMR
	bool "Enable WAMR engine"
	default n
	depends on INTERPRETERS_WAMR

config FEATURE_USE_JS_FUNCTION_BINDING
	bool "Enable JS feature functions binding to JS instance"
	default y

config FEATURE_TEST_CLIENT
	bool "Enable feature test client"
	default n

config FEATURE_ENABLE_THREAD_CHECKER
	bool "Enable thread checker"
	default n

config APP_CAR_SETTINGS_MOCK
	bool "Enable system.settings mock"
	default n

config FEATURE_UNIT_TEST
	depends on LIB_GOOGLETEST
	bool "Enable feature unit test"
	default n

config FEATURE_TEST_JSFILE
	depends on LIB_GOOGLETEST
	bool "Enable feature test using JavaScript file"
	default n

config FRAMEWORK_ENABLE_LOG
	bool "Enable framework trace"
	default n

config FEATURE_TEST_FEATURES
	bool "enable test features"
	default n

if FRAMEWORK_ENABLE_LOG
config FRAMEWORK_LOG_BUFFER_SIZE
	int "Framework log buffer size, default 1M"
	default 1048576
	depends on FRAMEWORK_ENABLE_LOG
endif

config FEATURE_ENABLE_TRACKER
	bool "Enable feature tracker"
	default y
	depends on FRAMEWORK_ENABLE_LOG

config FEATURE_MAX_CALLBACK_COUNT
	int "Framework max callback count for memory warning, default 30"
	default 30

config FEATURE_MAX_PROMISE_COUNT
	int "Framework max promise count for memory warning, default 30"
	default 30

config FEATURE_RUST_MODULES
	bool "Enable Feature Framework Rust modules support"
	default n

config FEATURE_RUST_MODULES_UNSTABLE
	bool "Enable currently unstable rust features"
	depends on FEATURE_RUST_MODULES
	default n

menu "feature modules"
source "$APPSDIR/frameworks/runtimes/feature/modules/Kconfig"
endmenu

endif
